<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<plugins>
		<!-- 防止和其他拦截器冲突-最好放在随后的位置 -->
		<plugin interceptor="pro.mickey.logically.deleted.mybatis.SqlLogicallyDeletedInterceptor">
			<!-- 删除字段 -->
			<property name="variable" value="is_delete" />
			<!-- 删除值 -->
			<property name="variableDelete" value="true" />
			<!-- 未删除值 -->
			<property name="variableDeleteNot" value="false" />
			<!-- 数据库类型 -->
			<property name="sqlType" value="mysql" />
		</plugin>
	</plugins>
</configuration>